<!-- <div class="p-field p-col-12 p-md-3">
  <label for="minmax-buttons">Min-Max Boundaries</label>
  <p-inputNumber [(ngModel)]="val" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="100">
  </p-inputNumber>
</div>

<hr> -->


<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
 

 
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
       <span class="cart" (click)="showCart()"></span>
       <span class="badge rounded-pill bg-secondary">{{cartTotalQuantity}}</span>
       <span class="total">${{cartTotalPrice}}</span>
    </div>
  </div>

<div class="container item-info" *ngIf="cartInfoShow">
  <div class="row" *ngFor="let cart of cartList">
    <div class="col-sm">
      <span class="item"></span>
    </div>
    <div class="col-sm">
      <div class="info">
        <div>{{cart.product.title}}</div>
        <div>{{cart.product.subtitle}}</div>
        <div>${{cart.product.price}}</div>
      </div>
    </div>
    <div class="col-sm">
      <span class="quantity">{{cart.product.price * cart.quantity}}</span>
    </div>
    <div class="col-sm">
      <span class="quantity"><input type="number" [(ngModel)]="cart.quantity" min="1" max="99"></span>
    </div>
    <div class="col-sm">
      <i class="pi pi-trash" (click)="deleteItem(cart)"></i>
    </div>
  </div>
</div>


  <!-- <ul class="pagination">
    <li class="page-item" [class.disabled]="currPage == 1">
      <a class="page-link" href="javascript:void(0);" (click)="prev()" tabindex="-1" ><span class="prev"></span></a>
    </li> -->
      <div class="container items">
        <div class="row">
          <div class="col-sm" *ngFor="let product of products">
            <span class="item"></span>
            <span class="badge rounded-pill bg-secondary add"(click)="addItem(product)">+</span>
          </div>
         
      </div>
    <!-- <li class="page-item" [class.disabled]="currPage == 5">
      <a class="page-link" href="javascript:void(0);" (click)="nxt()"><span class="nxt"></span></a>
    </li>
  </ul> -->

</div>

